/* shared styles */
* {
    font-family: 'Merriweather', serif;
    /* font-family: 'Inter', sans-serif; */
}

body {
    margin: 0%;
}

div {
    border: 2px solid red;
}

.uppercase {
    text-transform: uppercase;
}

/* header styles */
.banner-container {
    background-image: url('../images/Banner\ Image.png');
    color: #FFF;
    text-align: center;
    /* font-family: Merriweather; */
    font-size: 72px;
    width: 1320px;
    height: 600px;
    /* flex-shrink: 0; */
}

/* main body styles */
.deals-container>div {
    font-family: 'Inter', sans-serif;
    text-align: center;
}

.join-container {
    background-image: url('../images/Vectorrr.png');
}

/* footer styles */
footer {
    width: 100%;
    background-color: #070211;
    color: white;
}