/* shared styles */
* {
    font-family: 'Merriweather', serif;
    /* color: #070211; */
}

body {
    margin: 0%;
    background: #FFF;
}

header {
    margin-top: 50px;
}

span .red {
    color: #F00;
}


.div-container {
    width: 1320px;
    text-align: center;
    margin: auto;
    /* margin-left: 140px;
    margin-right: 140px; */
}

/* header styles */
.banner-container {
    background: url('../images/Banner\ Image.png');
    text-align: center;
    width: 1320px;
    height: 600px;
}

.banner-content {
    padding: 177px 344px;
    color: #FFF;
    background: linear-gradient(180deg, #070211, transparent);
    border-radius: 16px;
}

.banner-content .wish {
    /* color: #FFF; */
    font-size: 32px;
    text-align: center;
    padding-bottom: 10px;

}

.banner-content .h1 {
    width: 632px;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

/* main body styles */
.deals-container {
    margin-top: 120px;
    text-align: center;
    background: #FFF;
}

.discount-head {
    color: #F00;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
}

.discount-info {
    color: #F00;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.discount-content {
    color: #070211;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}

.discount-img {
    width: 802px;
    margin: auto;
}

.join-section-container {
    background-image: url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    margin-top: 120px;
}

.join-content-container {
    padding: 68px 126px;
    background: linear-gradient(90deg, #070211, transparent);
    border-radius: 16px;
    display: flex;
    text-align: left;
}

.join-content {
    /* padding: 177px 344px; */
    color: #FFF;

}

.join-welcome {
    color: #FFF;
    font-family: Merriweather, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    /* text-align: left; */
    width: 642px;
    padding-top: 58px;
    padding-bottom: 24px;
}

.join-welcome-text {
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-right: 40px;
    padding-bottom: 32px;
}

.join-now,
.join-now a {
    color: #FFF;
    text-decoration: none;
    text-align: left;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 32px;
}

.venue-time-container {
    margin-top: 120px;
}

.offer-2024-container {
    margin-top: 120px;
}

.holiday-sale-container {
    margin-top: 120px;
}

.portfolio-container {
    margin-top: 120px;
    width: 1320px;
    /* height: 7335px; */
    /* border: 1px solid rgb(255, 208, 0); */
    text-align: left;
    margin: auto;
}

.portfolio-content {
    #
}

.portfolio-small-head {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.portfolio-head {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 22px;
}

.portfolio-text {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}

.portfolio-img {
    display: flexbox;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1320px;
    /* margin-left: 140px;
    margin-right: 140px; */
    margin: auto;
    border: none;
    text-align: justify;
}

.portfolio-img img {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    /* background: lightgray 50% / cover no-repeat; */
    padding-right: 12px;
}
.portfolio-img img:hover {
    opacity: 0.3;
}
.port-img-group-1 {
    /* # */
}

.port-img-group-2 {
    /* # */
}

.subscribe-container {
    margin-top: 120px;
    margin-bottom: 120px;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.subscribe-content {
    margin: auto;
    padding: 80px 212px;
    width: 896px;
}

.email-img {
    width: 150px;
    margin: auto;
    padding-bottom: 40px;
}

.subscribe-head {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.subscribe-text {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 48px;
}

.subscribe-form {
    display: flex;
    width: 648px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    margin: auto;
}

.subs-placeholder {
    border: none;
    text-align: left;
    padding-left: 25px;
    color: rgba(7, 2, 17, 0.30);
    text-align: left;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    width: 438px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
}

.subs-button {
    border: none;
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* footer styles */
footer {
    width: 100%;
    background-color: #070211;
    color: #FFF;
}

.footer-container {
    width: 1320px;
    margin: auto;
    padding-left: 140px;
    padding-right: 140px;
}