/* shared styles */
* {
    font-family: 'Merriweather', serif;
    /* font-family: 'Inter', sans-serif; */
}

body {
    max-height: 1600px;
}

/* header styles */
.banner-container {
    background-image: url('../images/Banner\ Image.png');
    color: #FFF;
    text-align: center;
    /* font-family: Merriweather; */
    font-size: 72px;
    width: 1320px;
    height: 600px;
    /* flex-shrink: 0; */
}

/* main body styles */


/* footer styles */
footer {
    width: 100%;
    background-color: #070211;
}